{% extends 'base.html.twig' %}

{% block body %}

<style>
    .pagination {
        justify-content: center;
    }

    .pagination > span {
        padding: 10px;
        background: #d5d3d3;
        margin: 14px;
    }

    .pagination > span.current {
        border: 1px solid;
    }

    .pagination > span > a {
        color: black;
        text-decoration: none;
    }

</style>

<div style="margin-top: 50px;" class="container">
    {# <div style="text-align: center;">
        <h2>Bienvenue</h2>
    </div> #}


    <div style="margin-top: 100px; width: 80%; margin-bottom: 30px" class="mx-auto">
        <div style="text-align: center; margin-bottom: 50px">
            <h3>Boutique</h3>
            {% if (search|default) %}
            <p>Recherche les articles contenant : {{ string }} </p>
            {% endif %}
        </div>
        <div class="row">
            {% if (search|default) %}
            <div class="mb-4">
                <a href="{{ path('shop') }}">Retour à la boutique</a>
            </div>
            {% endif %}

            {% for product in products %}
            <div class="col-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ product.getImage }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.getTitle() }}</h5>
                        <p class="card-text">{{ product.getDescription() }}</p>
                        <p class="card-text">{{ product.getPrice() }} €</p>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        {{ knp_pagination_render(products) }}
    </div>


</div>

{% endblock %}